@using MudBlazor
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <div class="p-2">            
            <MudSwitch @bind-Value="_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode;
}