@using MudBlazor
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<MudThemeProvider IsDarkMode="@_dark" Theme="@_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <div class="p-2">            
            <ThemeToggle Value="@_dark" ValueChanged="v => _dark = v" />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool _dark;
    private MudTheme _theme = new();
}