apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  template:
    spec:
      containers:
        - name: web
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Development"
            - name: StockSim__InternalBaseUrl
              value: "http://127.0.0.1:8080"
            - name: MarketFeed__BaseUrl
              value: "http://marketfeed"
