apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 10s

    scrape_configs:
      - job_name: 'otelcol-app-metrics'
        static_configs:
          - targets: ['otelcol:9464']

      - job_name: 'otelcol-internal-metrics'
        static_configs:
          - targets: ['otelcol:8888']
