apiVersion: apps/v1
kind: Deployment
metadata:
  name: zipkin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zipkin
  template:
    metadata:
      labels:
        app: zipkin
    spec:
      containers:
        - name: zipkin
          image: openzipkin/zipkin:latest
          ports:
            - { name: http, containerPort: 9411 }
          resources:
            requests: { cpu: 50m, memory: 256Mi }
            limits: { cpu: 250m, memory: 512Mi }
